<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXpwzqh9wNL7cLYBJ2_DUunWkNluiSJNI&callback=initMap&libraries=places&v=weekly"
        defer></script>
    <script src="/js/routeQuery.js"></script>
</head>

<body>
    <label>direction</label>
    <input type="text" id="direction-input">
    <input type="submit" id="submit-button">
    <div id="query-results"></div>
</body>

</html>