.side-bar {
  position: fixed;
  right: 0;
  width: 25%;
  top: 30vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.side-bar-item {
  background-color: rgb(2, 36, 36);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  color: aliceblue;
  border: 5px solid rgb(211, 199, 199);
}

.map {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 800px) {
    width: 100%;
    display: block;
  }
}

.bottom-bar {
  height: 10%;
  background-color: #ebe9e9;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.driver-img {
  vertical-align: middle;
  width: 67px;
  height: 67px;
  border-radius: 50%;
}
