<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Control</title>
    <script defer src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script defer src="/js/missionControl.js"></script>
    <style>
        body {
            background-color: aqua;
            margin: 0;
        }
        #map {
            float: left;
            margin: 0;
            background-color: green;
            width: 100%;
            height: 600px;
        }
        #drivers-container-title{
            color: white;
            
            width: 400px;
        }
        #drivers-container {
            float: right;
            background-color: blueviolet;
            height: 100%;
            width: fit-content;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        #driver-position-container {
            float: right;
            background-color: blue;
            overflow: hidden;
            width: 400px;
            border-radius: 10px;
        }
        .driver-container-child {
            float: left;
            width: 120px;
        }
        #side-bar{
            float: right;
        }
        #side-bar ul{
            list-style-type: none;
        }
    </style>
</head>
<body>
    <div id="map">
        <div id ='drivers-container'>
            <div id ='drivers-container-title'>DRIVERS</div>
        </div>
    </div>
    
</body>
</html>