.body {
    height: 100%;
    background-color: #b487ce;
}

.map{
    height: 85%;
    background-color: green;
}


.store-item-list{
    display: flex;
    float: left;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: yellow;
}

.store-item{
    background-color: #510080;
}


.bottom-bar{
    height: 10%;
    background-color: magenta;
}

