.misson-control-container {
  position: relative;
}
.orders {
  background-color: red;
}

.emoji {
  position: absolute;
  top: 45%;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.side-bar-container {
  width: 40vh;
  height: 95vh;
  color: white;
  background-color: #2f3136;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  transition: width 1s;
  // for big screen
  @media screen and (min-width: 2000px) {
    width: 15vh;
  }
  //for small screen
  @media screen and (max-width: 900px) {
    position: relative;
    transition: unset;
    width: unset;
    height: fit-content;
  }
}

.side-bar-expanded {
  width: 75%;
  transition: width 1s;
  height: 95vh;
  color: white;
  background-color: #2f3136;
  position: absolute;
  top: 0;
  right: 0;
  overflow: auto;
  // for big screen
  @media screen and (min-width: 2000px) {
    width: 15vh;
  }
  //for small screen
  @media screen and (max-width: 900px) {
    position: relative;

    width: unset;
    height: fit-content;
  }
}
