.store-list {
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: space-evenly;

  border-radius: 10px;
  width: 20%;
  color: white;
  @media screen and (max-width: 900px) {
    width: unset;
    float: unset;
    padding: 5vh;
    display: flex;
    flex-direction: unset;
  }
}
